.form-container {
  display: flex;
  justify-content: center;
}

.form {
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  height: 30px;
}

.not-hidden {
  opacity: 1;
  color: green;
}

.error {
  opacity: 1;
  color: red;
}

.input-radio {
  display: flex;
  gap: 10px;
  width: 89%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid black;
}

.input-checkbox {
  display: block;
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid black;
}
