.form-container {
  display: flex;
  justify-content: center;
}

.form {
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  height: 30px;
}

.not-hidden {
  opacity: 1;
  color: green;
}

.error {
  opacity: 1;
  height: 30px;
  color: red;
}
